*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    margin-top: 59px;
    margin-bottom: 40px;
}

h1{
    width: 50%;
    border-bottom: 3px solid orange;
    margin: auto;
    text-align: center;
    padding: 15px 0;
    margin-bottom: 80px;
}

#novosti{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#novost{
    width: 270px;
    overflow: hidden;
    height: 270px;
    padding: 10px;
    position: relative;
}

#novost a{
    text-decoration: none;
    display: block;
    margin-left: 0;
    position: absolute;
    top: 20%;
    left: 15%;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 70%;
}

#novosti > #novost:nth-of-type(3) > a{
    top: 30%;
}

span{
    color: yellow;
}

#novost img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 20px solid rgb(241, 241, 241);
    box-shadow: 0 2px 5px 5px rgb(198, 198, 198), 0 -2px 5px 5px rgb(198, 198, 198);
    opacity: 0.9;
}

footer{
    background: url('../img/zaiskri-bg.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p{
    text-transform: uppercase;
    font-size: 2.2rem;
    color: white;
    font-weight: bold;
    width: 50%;
    margin: auto;
    padding: 40px;
    line-height: 2em;
    text-shadow: 1px 1px black;
}

footer span{
    color: rgb(200, 47, 98);
}

@media screen and (max-width: 1080px){
    #novosti{
        justify-content: center;
    }
}

@media screen and (max-width: 768px){
    footer{
        position: static;
    }

    footer p{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px){
    footer p{
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 390px){
    #novost{
        width: 170px;
        height: 170px;
    }

    #novost a{
        font-size: 0.5em;
    }

    #novost img{
        border: 10px solid rgb(241, 241, 241);
    }

    footer p{
        font-size: 0.7em;
    }
}

/** za nest hub  */
@media screen and (width: 1024px) and (height: 600px){
    footer{
        position: static;
    }
}

